<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/fieldset.css">
</head>
<body>
    <center>
<form style="width: fit-content; margin-top: 30px; height: 750px;" 
      action="/product/add" method="POST" enctype="multipart/form-data">
    <fieldset>
    <legend style="margin-right:5px;">Add product</legend>
    <div class="container">
	<div class="legend_add">
       <div>
		  <form>
        <input class="legend_text" type="text" name="name" id="" placeholder="Product name" required>
        <br><br>
        <input class="legend_text" type="text" name="price" id="" placeholder="Price" required>
        <br><br>
        <input class="legend_text" type="text" name="category" id="" placeholder="Category" required>
        <br><br>
        <p style="font-weight: bold; font-size: 18px;">Image</p> <input style="font-family: 'inconsolata', monospace; font-size:17px;" type="file" name="picture" accept="image/*" required/>
        <br><br>
        <input class="legend_text" type="text" name="description" id="" placeholder="Desription">
        <br><br>
        <input id="addprd_btn" type="submit" value="Insert">
          </form> 
       </div>
    </div>
    </fieldset>
    </form>
</center>
</body>
</html>